extends layout

block content
  h1= title
  div(class="container")
     div(class="row")
        div(class="col-sm-2", onclick="buy(0)")=dogs[0].name
              
        div(class="col-sm-2", onclick="buy(0)")=dogs[0].breed      
              
        div(class="col-sm-2", onclick="buy(0)")=dogs[0].age      
              
        div(class="col-sm-2", onclick="buy(1)")=dogs[1].name     
              
        div(class="col-sm-2", onclick="buy(1)")= dogs[1].breed    
              
        div(class="col-sm-2", onclick="buy(1)")= dogs[1].age

        div(class="col-sm-2", onclick="buy(2)")= dogs[2].name    
              
        div(class="col-sm-2", onclick="buy(2)")= dogs[2].breed    
              
        div(class="col-sm-2", onclick="buy(2)")=  dogs[2].age

             
